* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: antiquewhite;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 0%;
}

nav ul a:hover { color: green;}

table {
    border: 5px dashed black;
    border-collapse: collapse;
    margin: 0 auto;
}

table th {
    border: 2px dashed green;
}

table td {
    border: 2px dashed green;
}

.resume-header {
    text-align: center;
}

.job-entry ul {
    list-style-type: "- ";
    padding-left: 5px;
}

.job-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.job-title span {
    font-style: italic;
}

.job-location {
    font-style: italic;
}

.skills {
    text-align: center;
}
.section-title {
    text-align: left;
}

main {
    max-width: 750px;
    margin: 0 auto;
}

.school-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#footer {
    text-align: center;
    margin-top: 5px;
}

#cover-letter-header {
    max-width: 750px;
    margin: 0 auto;
}

#salutation {
    font-style: italic;
}

#goals-header { 
    text-align: left;
    max-width: 750px;
    margin: 0 auto;
}

#career-goals { 
    text-align: left;
}

textarea { text-align: left; }

img { max-width: 100%; }

video { max-width: 100%;}